@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&family=Sixtyfour+Convergence&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Outfit", sans-serif;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-6px);
  }
  40%,
  80% {
    transform: translateX(6px);
  }
}
.animate-shake {
  animation: shake 0.5s ease-in-out;
}
@keyframes flash {
  0%,
  100% {
    background-color: #dc2626;
  }
  50% {
    background-color: #f87171;
  }
}

